<lesson>
    <activity>
        <div class="row">
            <div class="col-md-12 navbar-fixed-top _progress-bar" style="padding-left:0px">
                <div class="col-md-10" style="padding-left:0px">
                    <div class="_progress" style="width:{{ progressWidth }}%;"></div>
                </div>
                <div id="buttonContainer" class="col-md-2 pull-right">
                    <button class="btn btn-default" ng-click='pauseLearn()'>返&nbsp;回</button>
                </div>
            </div>
        </div>

        <div id="pt-main" class="col-md-12 background-canvas">

            <div id="lecture" ng-show="lecture">
                <div class="col-md-10">
                    <span>lecture标题： {{title}}</span><br>

                    <div ng-bind-html-unsafe="body"></div>
                </div>
                <div class="col-md-2 ctrlBar">
                    <button ng-hide="hideContinueButton" class="btn btn-primary"
                            ng-click='continueActivity()'>继&nbsp;续
                    </button>
                </div>
            </div>

            <div id="quiz" ng-hide="lecture">
                <div switch ng-hide="showQuizSummary">
                    <problem ng-init="total=problems.length" id="{{ problem.id }}"
                             class="pt-page pt-page-{{ $index+1 }}"
                             ng-repeat='problem in problems'
                             ng-model="problemShow"
                             activity=true></problem>
                </div>

                <div ng-show="showQuizSummary">
                    <span>总共答对&nbsp;{{ quizCorrectCount }}&nbsp;题，正确率&nbsp; {{ quizCorrectPercent }}&nbsp;</span>
                    <button ng-click="nextActivity()">继&nbsp;续</button>
                </div>
            </div>

        </div>

    </activity>
</lesson>
<script src="js/pagetransitions.js"></script>
