<lesson>
    <activity>

        <div id="pt-main" class="pt-perspective">
            <div ng-show="lecture" style="background-color: #a0a0a0">
                <span>lecture标题： {{title}}</span><br>
                <span ng-bind-html-unsafe="body"></span>
            </div>
            <div style="font-size:25px;text-align:center;" switch ng-hide="showQuizSummary">
                <problem ng-init="total=problems.length" id="{{ problem.id }}" class="pt-page pt-page-{{ $index+1 }}"
                         ng-repeat='problem in problems'
                         ng-model="problemShow"
                         activity=true></problem>
            </div>
            <div ng-show="showQuizSummary">
                <span>总共答对&nbsp;{{ quizCorrectCount }}&nbsp;题，正确率&nbsp; {{ quizCorrectPercent }}&nbsp;</span>
                <button class="pt-touch-button pt-triggers" style="top:300px" ng-click="nextActivity()">继&nbsp;续
                </button>
            </div>

            <div id="buttonContainer">
                <button ng-hide="hideContinueButton" class="pt-touch-button pt-triggers" style="top:300px"
                        ng-click='continueActivity()'>继&nbsp;续
                </button>
                <button class="pt-touch-button pt-triggers" style="top:400px" ng-click='pauseLearn()'>返&nbsp;回</button>
            </div>
        </div>

    </activity>
</lesson>
<script src="js/pagetransitions.js"></script>
