<div>
    <div style="width:200px;height:40px;background-color: #f0f0f0;border: 1px #a0a0a0 solid;text-align: center;color:black;margin-top:30px;"
         ng-click="showLessonDialogue()">{{ title }}
    </div>
    <div ng-show="showResult">
        <span>答对 {{ lessonResultCount }} 题 正确率 {{ lessonResultPercent }} %</span><br>
        <span ng-show="hasStar">恭喜你在本课程获得 {{ lessonStar }}</span>
    </div>

    <div ng-show="lessonDialogue"
         style="width:500px;height:300px;top:30%;left:30%;position:absolute;background-color: white;color:black">
        <div ng-show="startLesson">
            <span>课程名称：{{title}}</span><br>
            <span>课程梗概：{{summary}}</span><br><br>
            <button ng-click="enterActivity(lesson.id)">{{buttonMsg}}</button>
        </div>
        <div ng-show="reviewLesson">
            <span>已经完成啦</span><br><br>
            <span ng-show="showResult">答对 {{ lessonResultCount }} 题 正确率 {{ lessonResultPercent }} %</span><br>
            <span>课程名称：{{title}}</span><br>
            <span>课程梗概：{{summary}}</span><br><br>
            <review ng-repeat="activity in activities"></review>
        </div>
    </div>
</div>