<chapter>
    <div id="loaderContainer">
        <div class="pt-page pt-page-1 pt-page-current">
            <span>不同的科目</span><br>
            <button>语文</button>
            <button>数学</button>
            <button>英语</button>
            <br><br>
            <span>具体课程内的章节</span><br>
            <button ng-click="selectLesson()">二元一次方程</button>
            <button>一元一次方程</button>
            <button>大数据</button>
        </div>
        <div class="pt-page pt-page-2">
            <h1 class="loadingContent">努力加载课程资源中...{{progress}}</h1>
        </div>
    </div>
</chapter>