<div id='problem{{$index}}'>
    <div>
        <span>题目：{{ problem.title }}</span><br>
        <span>题干：{{ problem.body }}</span>
        <button ng-show="showHintButton" ng-click="showHint()">显示暗示</button>
        <span ng-show="showHintBox">{{ hint }}</span>

        <div ng-repeat='choice in problem.choices' choices>
            <label for='problem{{$parent.$index}}_choice{{$index}}' ng-click='chooseOption(choice.id)'><input
                    type='checkbox' id='problem{{$parent.$index}}_choice{{$index}}' name='choices_{{problem.id}}'
                    ng-model='$parent.answer[choice.id]'>{{choice.body}}</label>
        </div>
    </div>
    <p>

    <div ng-show='showExplanation'>解析：{{ explanation }}</div>
    </p>
    <button ng-hide='hideSubmitButton' class='pt-touch-button pt-triggers' style='position:absolute;top:300px'
            ng-click='submitAnswer()'>提&nbsp;交
    </button>
    <button ng-show='showContinueButton' class='pt-touch-button pt-triggers' style='position:absolute;top:300px'
            ng-click='continueProblem()'>继&nbsp;续
    </button>
    <br>
</div>