<div id='problem{{$index}}'>
    <div ng-hide='showExplanation'>
        <span>题目名称：{{problem.title}}</span><br>

        <div ng-repeat='choice in problem.choices' choices>
            <label for='problem{{$parent.$index}}_choice{{$index}}' ng-click='chooseOption(choice.id)'><input
                    type='radio' id='problem{{$parent.$index}}_choice{{$index}}' name='choices_{{problem.id}}'
                    value='{{ choice.id }}' ng-model='$parent.answer[problem.id]'>{{choice.body}}</label>
        </div>
    </div>
    <div ng-show='showExplanation'>解析：{{ explanation }}</div>
    <button ng-hide='hideSubmitButton' class='pt-touch-button pt-triggers' style='position:absolute;top:300px'
            ng-click='submitAnswer()'>提&nbsp;交
    </button>
    <button ng-show='showContinueButton' class='pt-touch-button pt-triggers' style='position:absolute;top:300px'
            ng-click='continueProblem()'>继&nbsp;续
    </button>
    <br>
</div>